*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body > header{
    background-color: rgb(21, 3, 51);
    padding: 16px 0px;
    color:white;
}

.container{
    width: 1366px;
    margin: 0px auto;
    padding:0px;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li a{
    color:white;
    text-decoration: none;
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    width: 100%;
}

.articles article{
    width: 30%;
    
}

section{
    padding: 16px 0px;
}

section h2, .articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin: 8px 0px;
}

.articles article a{
    background-color: rgb(69, 69, 138);
    color:white;
    padding: 8px 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
} 

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: #d6f0c8;
}

#sports .articles article a{
    background-color: #3fb45b;
}

#economy{
    background-color: #f7a7a7;
}

#economy .articles article a{
    background-color: #e93434;
}

#entreteniment{
    background-color: rgb(244, 193, 156);
}

#entreteniment .articles article a{
    background-color: darkred;
}

#tecnology{
    background-color: rgba(47, 47, 70, 0.352);
}

#tecnology .articles article a{
    background-color: rgb(27, 27, 247);
}